{{header}}
{{column_left}}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form_push" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb.text}}</a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">




        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} </h3>
            </div>
            <div class="panel-body">




                <div id="status"></div>

                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-push" class="form-horizontal">
                    <div class="form-group">

                        <div class="container">

                        <div class="form-group col-lg-8 ">
                            <button type="button" form="form-push" onclick="appText();" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add Chat IDs"><i class="fa fa-plus"></i></button>
                            <button type="button" id="test"  data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Test Push Notification"><i class="fa fa-comments-o "></i></button>
                        </div>
                        </div>
                        <br/>

                        <div class="container" id="groubChatID">
                        <div class="input-group col-lg-5">
                            <span class="input-group-addon" id="basic-addon1">{{ entry_return_BOTTOKEN}}</span>
                            <input type="text" name="notificationTelegram_boot_token" id="notificationTelegram_boot_token"  value="{{ notificationTelegram_boot_token }}" placeholder="BOT_TOKEN" class="form-control" />
                            <span class="input-group-btn"><button  class="btn btn-info " type="button"><i class="fa fa-bookmark"></i></button> </span>
                        </div>
                        <br>

                        {% for key,val in notificationTelegram_chat_ids %}
<br/>
                            <div class="input-group col-lg-5">
                                <span class="input-group-addon" id="basic-addon1">{{ entry_return_chatID }}</span>
                                <input type="text" name="notificationTelegram_chat_ids[]" class="form-control"  value="{{ val }}" />
                                <span class="input-group-btn"><button  class="btn btn-danger removed" type="button"><i class="fa fa-trash-o"></i></button></span>
                            </div>

                        {% endfor %}
                        </div>


                        <br>
                        <br>
                        <br>

                        <div class="container">


                        <div class="btn-toolbar" id="buttonKey">


                        </div>

                        </div>

                        <div class="container">

                        <div class="input-group col-lg-5">
                            <br/>
                            <br/>
                            <label for="exampleFormControlTextarea1">{{ entry_return_message }}</label>
                            <br/>
                            <textarea rows="10" cols="50" class="form-control" id="notificationTelegram_meassage" name="notificationTelegram_meassage" rows="3">{% if notificationTelegram_meassage == "" %} {{ entry_return_messag_text }} {% endif %}{% if notificationTelegram_meassage %}{{ notificationTelegram_meassage }}{% endif %}</textarea>
                        </div>
                        </div>




                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status"></label>
                        <div class="col-sm-10">


                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="order_alert">
                                    {{ entry_send_order_alert }}
                                </label>
                                <div class="col-sm-2">
                                    <input type="checkbox" name="notificationTelegram_order_alert" id="order_alert" {% if notificationTelegram_order_alert %} checked {% endif %} class="form-control" />
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="customer_alert">
                                    {{  entry_send_new_customer_alert }}
                                </label>
                                <div class="col-sm-2">
                                    <input type="checkbox" name="notificationTelegram_customer_alert" id="notificationTelegram_customer_alert" {% if notificationTelegram_customer_alert %} checked {% endif %}  class="form-control" />
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="return">
                                    {{  entry_return_alert }}
                                </label>
                                <div class="col-sm-2">
                                    <input type="checkbox" name="notificationTelegram_return_alert" id="return" {% if notificationTelegram_return_alert %} checked {% endif %}  class="form-control" />
                                </div>
                            </div>





                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-module_hello_world_status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="notificationTelegram_status" id="notificationTelegram_status" class="form-control">
                                        {% if notificationTelegram_status %}
                                            <option value="1" selected>{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else  %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected>{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
            </div>



        </div>
        </form>
    </div>


    <script type="text/javascript">


        $( document ).ready(function() {


            var obj = ["order_id", "invoice_no",  "store_name", "store_url", "customer_id", "customer_group_id", "weight", "firstname", "lastname", "email", "telephone",  "payment_firstname", "payment_lastname", "payment_company", "payment_address_1", "payment_address_2", "payment_postcode", "payment_city", "payment_zone_id", "payment_zone", "payment_zone_code",  "payment_country",  "payment_address_format",  "payment_method", "payment_code", "shipping_firstname", "shipping_lastname", "shipping_company", "shipping_address_1", "shipping_address_2", "shipping_postcode", "shipping_city",  "shipping_zone",  "shipping_country",  "shipping_address_format", "shipping_custom_field", "shipping_method", "shipping_code", "comment", "total", "order_status_id", "order_status",   "currency_value", "date_added", "date_modified"];


            $.each( obj, function( key, value ) {

                $("#buttonKey").append('<div role="group" class="btn-group"> <button class="btn btn-info btn-sm buttonKey" type="button">'+value+'</button> </div>');

            });


            $(".buttonKey").click(function () {
                $("#notificationTelegram_meassage").append(" {"+$(this).html()+"} ");
            });



            removActive();

        });



        function appText(){


            var html ='<br/><div  class="input-group col-lg-5 parent"><span class="input-group-addon" id="basic-addon1">{{ entry_return_chatID }}</span><input type="textarea" name="notificationTelegram_chat_ids[]" class="form-control"  value="{{ val }}"/><span class="input-group-btn"><button   class="btn btn-danger removed" type="button"><i class="fa fa-trash-o"></i></button></span> </div><br/>';

            $(html).appendTo('#groubChatID');

            removActive();
        }


        function removActive(){
            $('.removed').on('click',function () {
                $(this).parent().prevAll('input').remove();
                $(this).parent().prevAll('div').remove();
                $(this).parent().prevAll('span').remove();
                $(this).remove();
            });
        }





        $(document).ready(function(){

            $('#test').click(function(e){

                $('.input-group-addon').button('loading');

                $('input[name^="notificationTelegram_chat_ids"]').each(function() {

                    var obj = $(this);
                    var val = obj.val();




                    var testurl = '{{testUrl}}&notificationTelegram_boot_token=' + $('#notificationTelegram_boot_token').val() + '&notificationTelegram_chat_ids='+ val;

                    $.get(testurl, function(e){
                        $(obj).prevAll('.input-group-addon').button('reset');

                        if(e.ok == 1)
                        {
                            obj.attr('style', "border-radius: 5px; border:#8fbb6c 1px solid;");

                            $("#status").append('<div class="alert alert-success">{{ text_sent_success }} : '+ val +'</div>');
                        }else{
                            obj.attr('style', "border-radius: 5px; border:#FF0000 1px solid;");
                            obj.append('<div class="alert alert-danger">Message couldnt be sent, please check your details ---'+ val +'</div>');
                        }
                    },"json");
                });




            });
        });


    </script>

    {{footer}}
